.main-container {
    max-width: 1500px;
    margin: auto;
}

.game-container {
    width: 100%;
    height: 800px;
    margin: 80px auto;
    border: 1px solid red;
}

.box {
    background: green;
}