.main-container {
    max-width: 1000px;
    margin: auto;
}

.scoreArea {
    width: 100%;
    text-align: center;
}

.game-container {
    width: 100%;
    height: 700px;
    margin: 80px auto;
    border: 1px solid red;
}