.main-container {
    max-width: 1000px;
    margin: auto;
}

.scoreArea {
    width: 100%;
    text-align: center;
}

.game-container {
    width: 100%;
    height: 700px;
    margin: 80px auto;
    border: 1px solid red;
}

.box {
    background: green;
}

.gamespan {
    color: rgb(8, 121, 83);
}

.play-again-button {
    border: 2px solid black;
    background: lightseagreen;
    padding: 0px 12px;
    color: white;
    line-height: 1.5;
    margin-top: 5px;
}