.main-container {
    width: 1200px;
    margin: auto;
}

.game-container {
    border: 1px solid red;
}

.landing-page {
    position: absolute;
    top:0px;
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

