body {
    background: rgba(0, 0, 0, 0.8);
}

.main-container {
    margin: auto;
    display: block;
    position: relative;
}

.landing-page {
    position: absolute;
    top:0px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
}

.header {
    position: absolute;
    top: 20%;
    transition: 0.5s ease;
}

.button, .button2 {
    position: absolute;
    top: 55%;
    left: 38%;
    transition: 0.5s ease;
}

.button2 {
    left: 25%;
}

.game-stats, .hardcore-area {
    font-size: 30px;
    line-height: 1.8;
    color: white;
    letter-spacing: 0.8px;
    font-family: Arial, Helvetica, sans-serif;
}

.hardcore-area {
    font-size: 40px;
}

.hardcore-area input{
    width: 25px;
    height: 25px;
}