.main-container {
    /* width: 50%; */
    /* width: 790px; */
    margin: auto;
}

.game-container {
    border: 1px solid red;
}

.landing-page {
    position: absolute;
    top:0px;
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
}

